// Primary
$--color-primary-background: #FFF;
$--color-primary-accents-1: #FAFAFA;
$--color-primary-accents-2: #EAEAEA;
$--color-primary-accents-3: #999;
$--color-primary-accents-4: #888;
$--color-primary-accents-5: #666;
$--color-primary-accents-6: #444;
$--color-primary-accents-7: #333;
$--color-primary-accents-8: #111;
$--color-primary-foreground: #000;

// Error
$--color-error-lighter: #F7D4D6;
$--color-error-light: #FF1A1A;
$--color-error-default: #E00;
$--color-error-dark: #C50000;

// Success
$--color-success-lighter: #D3E5FF;
$--color-success-light: #3291FF;
$--color-success-default: #0070F3;
$--color-success-dark: #0761D1;

// Warning
$--color-warning-lighter: #FFEFCF;
$--color-warning-light: #F7B955;
$--color-warning-default: #F5A623;
$--color-warning-dark: #AB570A;

// Violet
$--color-violet-lighter: #D8CCF1;
$--color-violet-light: #8A63D2;
$--color-violet-default: #7928CA;
$--color-violet-dark: #4C2889;

// Cyan
$--color-cyan-lighter: #AAFFEC;
$--color-cyan-light: #79FFE1;
$--color-cyan-default: #50E3C2;
$--color-cyan-dark: #29BC9B;

// Highlight
$--color-highlight-purple: #F81CE5;
$--color-highlight-magenta: #EB367F;
$--color-highlight-pink: #FF0080;
$--color-highlight-yellow: #FFF500;

$colors: (
    'background': $--color-primary-background,
    'foreground': $--color-primary-foreground,
    'error': $--color-error-default,
    'success': $--color-success-default,
    'warning': $--color-warning-default,
    'highlight': $--color-highlight-yellow
);

$font-colors: (
    'primary': $--color-primary-foreground,
    'secondary': $--color-primary-accents-5,
    'highlight': $--color-highlight-yellow
);

$foreground-colors: (
    $--color-primary-background: $--color-primary-foreground,
    $--color-primary-accents-1: $--color-primary-foreground,
    $--color-primary-accents-2: $--color-primary-foreground,
    $--color-primary-accents-3: $--color-primary-foreground,
    $--color-primary-accents-4: $--color-primary-foreground,
    $--color-primary-accents-5: $--color-primary-background,
    $--color-primary-accents-6: $--color-primary-background,
    $--color-primary-accents-7: $--color-primary-background,
    $--color-primary-accents-8: $--color-primary-background,
    $--color-primary-foreground: $--color-primary-background,

    // Error
    $--color-error-lighter: $--color-primary-foreground,
    $--color-error-light: $--color-primary-background,
    $--color-error-default: $--color-primary-background,
    $--color-error-dark: $--color-primary-background,

    // Success
    $--color-success-lighter: $--color-primary-foreground,
    $--color-success-light: $--color-primary-background,
    $--color-success-default: $--color-primary-background,
    $--color-success-dark: $--color-primary-background,

    // Warning
    $--color-warning-lighter: $--color-primary-foreground,
    $--color-warning-light: $--color-primary-foreground,
    $--color-warning-default: $--color-primary-foreground,
    $--color-warning-dark: $--color-primary-background,

    // Violet
    $--color-violet-lighter: $--color-primary-foreground,
    $--color-violet-light: $--color-primary-background,
    $--color-violet-default: $--color-primary-background,
    $--color-violet-dark: $--color-primary-background,

    // Cyan
    $--color-cyan-lighter: $--color-primary-foreground,
    $--color-cyan-light: $--color-primary-foreground,
    $--color-cyan-default: $--color-primary-foreground,
    $--color-cyan-dark: $--color-primary-background,

    // Highlight
    $--color-highlight-purple: $--color-primary-background,
    $--color-highlight-magenta: $--color-primary-background,
    $--color-highlight-pink: $--color-primary-background,
    $--color-highlight-yellow: $--color-primary-foreground,
);

