$color-black: rgb(0, 0, 0);
$color-gray: rgb(102, 102, 102);
$color-highlight: rgb(2, 112, 243);

$font-colors: (
    'primary': $color-black,
    'secondary': $color-gray,
    'highlight': $color-highlight,
);

