@import '../../style/variables';
@import '../../style/colors';

html, body {

    margin: 0;
    padding: 0;

}

.main-title {
    color: #0270f3;
}

.container {

    padding: 3vh 10vw;

    .content {
        
        min-height: calc(100vh - 6vh);

        display: flex;
        justify-content: center;

        .sidebar {

            width: 12.5vw;

            padding: 10px 40px;


            .menu-section {

                margin-bottom: 50px;

                p.menu-title {

                    font-weight: 600;
                    color: black;

                }

                .menu-item-list {
                    padding-left: 25px;
                    margin-left: 5px;
                    border-left: 2px solid $--color-light-gray;
                }

            }


        }

        .component__content {
            padding: 10px 40px;
            flex-grow: 1;
        }

    }

}

.selector-item {
    cursor: pointer;
}

.active {
    font-weight: 600;
    color: black;
}

div {

    &.so {

        margin: $--height-normal 0;

        border-radius: $--border-radius;
        border: 1px solid $--color-primary-accents-2;


        .so-content {

            padding: $--padding-big $--padding-normal;

        }

        .so-desc-bar {

            padding: 0 $--padding-normal;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: $--color-primary-accents-1;
            border-top: 1px solid $--color-primary-accents-2;

            cursor: pointer;

            p {
                font-size: $--font-size-big;
            }

        }

    }

}