$--color-gray: rgb(102, 102, 102);
$--color-light-gray: rgb(234, 234, 234);
$--color-accent: rgb(0, 255, 187);

$--padding: 10vw;

$--container-padding-width: 10vw;
$--container-padding-height: 10px;

$--logo-height: 60px;
$--logo-width: $--logo-height;

