@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
div.header {
  padding: 25px 10vw;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header a:hover p {
  color: #00ffbb;
}

div.header .logo-box {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

div.header .logo-box img.logo {
  width: 60px;
}

div.header .nav-box {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header .github-box {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header .github-box img.logo {
  width: 40px;
}

div#section-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 10vw;
}

div#section-home div.heading-box {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#section-home div.heading-box img {
  width: 90%;
}

div#section-home div.text-box {
  margin: 40px 0;
  max-width: 50%;
  text-overflow: clip;
  text-align: center;
}

div#section-home div.text-box h3.subtitle {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  color: #666666;
}

div#section-home div.text-box h3.subtitle .accent {
  color: #00ffbb;
  font-weight: 600;
}

div#section-home div.button-box {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#section-home div.button-box button {
  cursor: pointer;
  padding: 10px 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  border: 2px solid black;
  -webkit-transition: 0.5s background-color, 0.5s color, 0.5s border-color;
  transition: 0.5s background-color, 0.5s color, 0.5s border-color;
}

div#section-home div.button-box button:hover {
  background-color: transparent;
  color: black;
}

div#section-home div.button-box button.btn-secondary {
  border: 2px solid #eaeaea;
  background-color: transparent;
  color: #666666;
}

div#section-home div.button-box button.btn-secondary:hover {
  background-color: black;
  color: white;
  border-color: black;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-title {
  color: #0270f3;
}

.container {
  padding: 3vh 10vw;
}

.container .content {
  min-height: calc(100vh - 6vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content .sidebar {
  width: 12.5vw;
  padding: 10px 40px;
}

.container .content .sidebar .menu-section {
  margin-bottom: 50px;
}

.container .content .sidebar .menu-section p.menu-title {
  font-weight: 600;
  color: black;
}

.container .content .sidebar .menu-section .menu-item-list {
  padding-left: 25px;
  margin-left: 5px;
  border-left: 2px solid #eaeaea;
}

.container .content .component__content {
  padding: 10px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.selector-item {
  cursor: pointer;
}

.active {
  font-weight: 600;
  color: black;
}

div.so {
  margin: 40px 0;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
}

div.so .so-content {
  padding: 24px 18px;
}

div.so .so-desc-bar {
  padding: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-top: 1px solid #EAEAEA;
  cursor: pointer;
}

div.so .so-desc-bar p {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html p, body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
}

.container {
  padding: 10px 10vw;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: blueviolet;
}
/*# sourceMappingURL=style.css.map */