@import '../variables';
@import '../colors';

div {

    &.so {

        border-radius: $--border-radius;
        border: 1px solid $--color-primary-accents-2;


        .so-content {

            padding: $--padding-big $--padding-normal;

            display: flex;
            justify-content: space-around;
            align-items: flex-start;

        }

        .so-desc-bar {

            padding: 0 $--padding-normal;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: $--color-primary-accents-1;
            border-top: 1px solid $--color-primary-accents-2;

            cursor: pointer;

            p {
                font-size: $--font-size-big;
            }

        }

    }

}