@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
}

a {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
}

a:hover {
  color: #0270f3;
}

.fc-primary {
  color: black;
}

.fc-secondary {
  color: #666666;
}

.fc-highlight {
  color: #0270f3;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

img.avatar-small {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

img.avatar {
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

img.avatar-great {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

div.avatar-box {
  height: 55px;
  width: 55px;
  position: relative;
}

div.avatar-box .av-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  z-index: 99;
  border: 3px solid white;
}

div.avatar-box .av-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

div.avatar-box-great {
  height: 80px;
  width: 80px;
  position: relative;
}

div.avatar-box-great .av-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  z-index: 99;
  border: 3px solid white;
}

div.avatar-box-great .av-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

div.avatar-list img {
  margin-left: -15px;
  border: 3px solid white;
}

div.avatar-list > *:first-child {
  margin-left: 0;
}

div.card {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

div.card .card-title {
  margin: 0;
  margin-bottom: 10px;
}

div.card .card-content {
  margin: 0;
}

button {
  border-radius: 5px;
  font-weight: 500;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  height: 40px;
  padding: 0 18px;
  line-height: 20px;
}

button.btn-big {
  font-size: 16px;
  height: 45px;
  padding: 0 24px;
  line-height: 24px;
}

button.btn-small {
  font-size: 14px;
  height: 35px;
  padding: 0 12px;
  line-height: 20px;
}

button:hover {
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

div.tag {
  border: 1px solid #eaeaea;
  padding: 0 6px;
  background-color: #fafafa;
  border-radius: 5px;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.tag p, div.tag .tag-content {
  font-size: 14px;
  line-height: 0;
}
/*# sourceMappingURL=main.css.map */