<h1 class="content-title">Button</h1>

<h2 class="content-subtitle">
    Used to trigger an operation.

</h2>

<div class="spacer"></div>

<h3>Sizes</h3>

<p class="desc">These sizes are standardized across form components.</p>

<div class="example-box">

    <div class="example-content">

        <button class="btn-small">Upload</button>
        <button class="btn">Upload</button>
        <button class="btn-big">Upload</button>

    </div>

    <div class="example-toolbar">

        <p class="toolbar-title">Code Editor</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>

    </div>

    <div class="example-expandation">
        
        <p>

            ...  

        </p>

    </div>

</div>

<div class="spacer"></div>

<h3>Shapes</h3>
